.myMain{
  padding:10px;
}
.myHead{
  max-width: 1400px;
  margin:auto;
}
.myToolbar{
  display: flex;
  justify-content: flex-end;
  
}
.vr{
  border-left: 1px solid;
  border-color: white;
  height: 40px;
  margin-right: 12px;
}

.boxTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  overflow-x: hidden;
}
.boxTitle h4 {
  font-size: 30px;
}

.contTitle{
  justify-content: space-between;
  background: linear-gradient(270deg, #1A78C2 0%, #1A78C2 101.06%);
  height: 128px;
  border-radius: 10px;
}

.paperInfo{
  margin: auto;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  background-color: white;
  min-height: 192px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

.boxPaper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 96px;
}

.formInfo{
  display: flex;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
}

.submitButtInfo {
  Width: 212px;
  Height: 49px;
  align-self: center;
}

@media(max-width:1165px){
  .formInfo {
    flex-direction: column;
  }
  .formInfo div {
    margin: 10px 0px;
  }
}

@media(max-width:700px){
  .boxTitle h4 {
    font-size: 16px;
  }
}